body{
    text-align: center;
    /* display: flex;
    justify-content: center; */


}
div{
    width: 500px;
    height: 100px;
    /* background: yellow; */
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    /* text-align: center;
    margin-left: 265px;
    margin-top: 20px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
